

{% extends "predictions.html" %}




{% block resultSVM %}

<div>
    <p>Result:</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">MachineId</th>
            <th scope="col">DeviceType</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range %}

            <tr>
                <th scope="row">{{ i }}</th>
                {% load app_filters %}
                <td>{{ machines|listIndex:i }}</td>
                <td>{{ classes|listIndex:i }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}